# Ignore the entire Data directory containing the heavy tarball partitions
Data/
processed_tensors/
model_ready_partition_split/

# Ignore the processed folder
processed/

# Ignore any random compressed archives or zip variants
*.tar.gz
*.zip
*.tgz

# Ignore local checkpoints created by Colab/Jupyter memory states
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
